In [1]:
import pandas as pd

In [2]:
house = pd.read_csv('Bengaluru_House_Data.csv')
house.head(5)

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [3]:
house.info() #describes no of null & non-null values in each row, its dtype, memory used etc

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   location      13319 non-null  object
 3   size          13304 non-null  object
 4   society       7818 non-null   object
 5   total_sqft    13320 non-null  object
 6   bath          13247 non-null  float64
 7   balcony       12711 non-null  float64
 8   price         13320 non-null  float64
dtypes: float64(3), object(6)
memory usage: 936.7+ KB

In [4]:
house['area_type'].unique()

array(['Super built-up  Area', 'Plot  Area', 'Built-up  Area',
       'Carpet  Area'], dtype=object)

In [5]:
house['availability'].unique()

array(['19-Dec', 'Ready To Move', '18-May', '18-Feb', '18-Nov', '20-Dec',
       '17-Oct', '21-Dec', '19-Sep', '20-Sep', '18-Mar', '20-Feb',
       '18-Apr', '20-Aug', '18-Oct', '19-Mar', '17-Sep', '18-Dec',
       '17-Aug', '19-Apr', '18-Jun', '22-Dec', '22-Jan', '18-Aug',
       '19-Jan', '17-Jul', '18-Jul', '21-Jun', '20-May', '19-Aug',
       '18-Sep', '17-May', '17-Jun', '21-May', '18-Jan', '20-Mar',
       '17-Dec', '16-Mar', '19-Jun', '22-Jun', '19-Jul', '21-Feb',
       'Immediate Possession', '19-May', '17-Nov', '20-Oct', '20-Jun',
       '19-Feb', '21-Oct', '21-Jan', '17-Mar', '17-Apr', '22-May',
       '19-Oct', '21-Jul', '21-Nov', '21-Mar', '16-Dec', '22-Mar',
       '20-Jan', '21-Sep', '21-Aug', '14-Nov', '19-Nov', '15-Nov',
       '16-Jul', '15-Jun', '17-Feb', '20-Nov', '20-Jul', '16-Sep',
       '15-Oct', '15-Dec', '16-Oct', '22-Nov', '15-Aug', '17-Jan',
       '16-Nov', '20-Apr', '16-Jan', '14-Jul'], dtype=object)

In [6]:
house['location'].unique()

array(['Electronic City Phase II', 'Chikka Tirupathi', 'Uttarahalli', ...,
       '12th cross srinivas nagar banshankari 3rd stage',
       'Havanur extension', 'Abshot Layout'], dtype=object)

In [7]:
house['size'].unique()

array(['2 BHK', '4 Bedroom', '3 BHK', '4 BHK', '6 Bedroom', '3 Bedroom',
       '1 BHK', '1 RK', '1 Bedroom', '8 Bedroom', '2 Bedroom',
       '7 Bedroom', '5 BHK', '7 BHK', '6 BHK', '5 Bedroom', '11 BHK',
       '9 BHK', nan, '9 Bedroom', '27 BHK', '10 Bedroom', '11 Bedroom',
       '10 BHK', '19 BHK', '16 BHK', '43 Bedroom', '14 BHK', '8 BHK',
       '12 Bedroom', '13 BHK', '18 Bedroom'], dtype=object)

In [8]:
house['society'].unique()

array(['Coomee ', 'Theanmp', nan, ..., 'SJovest', 'ThhtsV ', 'RSntsAp'],
      dtype=object)

In [9]:
house['total_sqft'].unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

In [10]:
house['bath'].unique()

array([ 2.,  5.,  3.,  4.,  6.,  1.,  9., nan,  8.,  7., 11., 10., 14.,
       27., 12., 16., 40., 15., 13., 18.])

In [11]:
house['balcony'].value_counts()

2.0    5113
1.0    4897
3.0    1672
0.0    1029
Name: balcony, dtype: int64

In [12]:
house['price'].unique()

array([ 39.07, 120.  ,  62.  , ...,  40.14, 231.  , 488.  ])

## Things to be taken care of...!!
- area_type, availability, society have different categorical data. So we have to drop this columns.


- location one None values.


- size has BHK, Bedroom attached with desire data. Remove this unnecessary string from data.
- size has many None values.
- size is as string not as int.


- total_sqft has many None values.
- total_sqft has Meter attached with desire data. Remove this unnecessary string from data.
- total_sqft has many range values.
- total_sqft is as string not as float.


- bath has many None values.


- balcony has many None values. Fill na with mean.
- balcony is stored as float. Change it to int to reduce memory used.


- Change name of column size to size_BHK.


- Change name of column bath to bathroom.


- Change name of column price to price_lakhs.

## Drop Features that are not important.

In [13]:
house.drop(['area_type', 'availability', 'society'], axis=1, inplace=True)

In [14]:
house.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    13319 non-null  object
 1   size        13304 non-null  object
 2   total_sqft  13320 non-null  object
 3   bath        13247 non-null  float64
 4   balcony     12711 non-null  float64
 5   price       13320 non-null  float64
dtypes: float64(3), object(3)
memory usage: 624.5+ KB

## Drop from location column where value is not available.

In [15]:
house = house[~house['location'].isna()]
house.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13319 entries, 0 to 13319
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    13319 non-null  object
 1   size        13303 non-null  object
 2   total_sqft  13319 non-null  object
 3   bath        13246 non-null  float64
 4   balcony     12710 non-null  float64
 5   price       13319 non-null  float64
dtypes: float64(3), object(3)
memory usage: 728.4+ KB

## Handling BHK and Bedroom in size.

In [16]:
house['size'] = house['size'].str.split(' ').str.get(0)
house.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13319 entries, 0 to 13319
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    13319 non-null  object
 1   size        13303 non-null  object
 2   total_sqft  13319 non-null  object
 3   bath        13246 non-null  float64
 4   balcony     12710 non-null  float64
 5   price       13319 non-null  float64
dtypes: float64(3), object(3)
memory usage: 728.4+ KB

## Drop from size column where value is not available.

In [17]:
house = house[~house['size'].isna()]
house.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13303 entries, 0 to 13319
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    13303 non-null  object
 1   size        13303 non-null  object
 2   total_sqft  13303 non-null  object
 3   bath        13246 non-null  float64
 4   balcony     12710 non-null  float64
 5   price       13303 non-null  float64
dtypes: float64(3), object(3)
memory usage: 727.5+ KB

## Converting size to int from string.

In [18]:
house['size'] = house['size'].astype(int)
house.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13303 entries, 0 to 13319
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    13303 non-null  object
 1   size        13303 non-null  int32
 2   total_sqft  13303 non-null  object
 3   bath        13246 non-null  float64
 4   balcony     12710 non-null  float64
 5   price       13303 non-null  float64
dtypes: float64(3), int32(1), object(2)
memory usage: 675.5+ KB

## Drop from total_sqft column where value is not available.

In [19]:
house = house[~house['total_sqft'].isna()]
house.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13303 entries, 0 to 13319
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    13303 non-null  object
 1   size        13303 non-null  int32
 2   total_sqft  13303 non-null  object
 3   bath        13246 non-null  float64
 4   balcony     12710 non-null  float64
 5   price       13303 non-null  float64
dtypes: float64(3), int32(1), object(2)
memory usage: 675.5+ KB

## Handling Meter in total_sqft.

In [20]:
house = house[house['total_sqft'].str.split(' ').str.get(0).str.isnumeric()]

## Handling range values in total_sqft and Converting total_sqft to float also.

In [21]:
def range_value_to_numeric_value(value):
    a = value.split('-')
    if len(a) == 2:
        return_value = (float(a[0]) + float(a[1])) / len(a)
        return return_value
    else:
        return float(value)
    
house['total_sqft'] = house['total_sqft'].apply(range_value_to_numeric_value)

In [22]:
house.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13165 entries, 0 to 13319
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    13165 non-null  object
 1   size        13165 non-null  int32
 2   total_sqft  13165 non-null  float64
 3   bath        13110 non-null  float64
 4   balcony     12579 non-null  float64
 5   price       13165 non-null  float64
dtypes: float64(4), int32(1), object(1)
memory usage: 668.5+ KB

## Drop from bath column where value is not available.

In [23]:
house = house[~house['bath'].isna()]
house.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13110 entries, 0 to 13319
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    13110 non-null  object
 1   size        13110 non-null  int32
 2   total_sqft  13110 non-null  float64
 3   bath        13110 non-null  float64
 4   balcony     12579 non-null  float64
 5   price       13110 non-null  float64
dtypes: float64(4), int32(1), object(1)
memory usage: 665.7+ KB

## Filling mean value in balcony column where value is not available.

In [24]:
mean_balcony = house['balcony'].mean()
house['balcony'].fillna(value=mean_balcony, inplace=True)
house.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13110 entries, 0 to 13319
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    13110 non-null  object
 1   size        13110 non-null  int32
 2   total_sqft  13110 non-null  float64
 3   bath        13110 non-null  float64
 4   balcony     13110 non-null  float64
 5   price       13110 non-null  float64
dtypes: float64(4), int32(1), object(1)
memory usage: 665.7+ KB

## Converting balcony to int from float.

In [25]:
house['balcony'] = house['balcony'].astype(int)
house.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13110 entries, 0 to 13319
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    13110 non-null  object
 1   size        13110 non-null  int32
 2   total_sqft  13110 non-null  float64
 3   bath        13110 non-null  float64
 4   balcony     13110 non-null  int32
 5   price       13110 non-null  float64
dtypes: float64(3), int32(2), object(1)
memory usage: 614.5+ KB

In [26]:
house

                       location  size  total_sqft  bath  balcony   price
0      Electronic City Phase II     2      1056.0   2.0        1   39.07
1              Chikka Tirupathi     4      2600.0   5.0        3  120.00
2                   Uttarahalli     3      1440.0   2.0        3   62.00
3            Lingadheeranahalli     3      1521.0   3.0        1   95.00
4                      Kothanur     2      1200.0   2.0        1   51.00
...                         ...   ...         ...   ...      ...     ...
13315                Whitefield     5      3453.0   4.0        0  231.00
13316             Richards Town     4      3600.0   5.0        1  400.00
13317     Raja Rajeshwari Nagar     2      1141.0   2.0        1   60.00
13318           Padmanabhanagar     4      4689.0   4.0        1  488.00
13319              Doddathoguru     1       550.0   1.0        1   17.00

[13110 rows x 6 columns]

## Changing the name of columns.

In [27]:
house.rename(columns = {"size":"size_BHK", "bath":"bathroom", "price":"price_lakhs"}, inplace=True)
house

,location,size_BHK,total_sqft,bathroom,balcony,price_lakhs
0,Electronic City Phase II,2,1056.0,2.0,1,39.07
1,Chikka Tirupathi,4,2600.0,5.0,3,120.00
2,Uttarahalli,3,1440.0,2.0,3,62.00
3,Lingadheeranahalli,3,1521.0,3.0,1,95.00
4,Kothanur,2,1200.0,2.0,1,51.00
...,...,...,...,...,...,...
13315,Whitefield,5,3453.0,4.0,0,231.00
13316,Richards Town,4,3600.0,5.0,1,400.00
13317,Raja Rajeshwari Nagar,2,1141.0,2.0,1,60.00
13318,Padmanabhanagar,4,4689.0,4.0,1,488.00
13319,Doddathoguru,1,550.0,1.0,1,17.00

## Reset index

In [28]:
house.reset_index(drop=True, inplace=True)
house

,location,size_BHK,total_sqft,bathroom,balcony,price_lakhs
0,Electronic City Phase II,2,1056.0,2.0,1,39.07
1,Chikka Tirupathi,4,2600.0,5.0,3,120.00
2,Uttarahalli,3,1440.0,2.0,3,62.00
3,Lingadheeranahalli,3,1521.0,3.0,1,95.00
4,Kothanur,2,1200.0,2.0,1,51.00
...,...,...,...,...,...,...
13105,Whitefield,5,3453.0,4.0,0,231.00
13106,Richards Town,4,3600.0,5.0,1,400.00
13107,Raja Rajeshwari Nagar,2,1141.0,2.0,1,60.00
13108,Padmanabhanagar,4,4689.0,4.0,1,488.00
13109,Doddathoguru,1,550.0,1.0,1,17.00

## Save this much processed data for backup.

In [29]:
house_NA_Handled = house.copy()
house_NA_Handled

,location,size_BHK,total_sqft,bathroom,balcony,price_lakhs
0,Electronic City Phase II,2,1056.0,2.0,1,39.07
1,Chikka Tirupathi,4,2600.0,5.0,3,120.00
2,Uttarahalli,3,1440.0,2.0,3,62.00
3,Lingadheeranahalli,3,1521.0,3.0,1,95.00
4,Kothanur,2,1200.0,2.0,1,51.00
...,...,...,...,...,...,...
13105,Whitefield,5,3453.0,4.0,0,231.00
13106,Richards Town,4,3600.0,5.0,1,400.00
13107,Raja Rajeshwari Nagar,2,1141.0,2.0,1,60.00
13108,Padmanabhanagar,4,4689.0,4.0,1,488.00
13109,Doddathoguru,1,550.0,1.0,1,17.00